.dialog-enter {
    opacity: 0.01;
    transform: translateX(-10px);
}

.dialog-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 100ms;
}

.dialog-exit {
    transform: translateX(0px);
    opacity: 1;
}

.dialog-exit-active {
    opacity: 0.01;
    transform: translateX(-10px);
    transition: all 100ms;
}

.Champ:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.InterChamp {
    background-color: rgba(120, 120, 120, 1);
}
