@font-face {
    font-family: "Century Gothic";
    src: url("./composants/fonts/CenturyGothic-Bold.eot");
    src: url("./composants/fonts/CenturyGothic-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("./composants/fonts/CenturyGothic-Bold.woff2") format("woff2"),
        url("./composants/fonts/CenturyGothic-Bold.woff") format("woff"),
        url("./composants/fonts/CenturyGothic-Bold.ttf") format("truetype"),
        url("./composants/fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold")
            format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./composants/fonts/CenturyGothic.eot");
    src: url("./composants/fonts/CenturyGothic.eot?#iefix")
            format("embedded-opentype"),
        url("./composants/fonts/CenturyGothic.woff2") format("woff2"),
        url("./composants/fonts/CenturyGothic.woff") format("woff"),
        url("./composants/fonts/CenturyGothic.ttf") format("truetype"),
        url("./composants/fonts/CenturyGothic.svg#CenturyGothic") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll;
}
body {
    margin: 0;

}
